.site-footer{
    text-align: center;
    position: relative;
    bottom: 0;
    color:whitesmoke;
}

.container2{
    min-height: 800px;
}

.bg{
    background-image: url("https://media.bizj.us/view/img/5365161/manufacturebackground2-032015*1200xx2750-1547-0-144.jpg");
    
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 200vh;
    width: 100%;
}


